{% extends "home/topbar.html" %}
{% load bootstrap3  %}

{% block content %}
<table class="table table-condensed">
  <tr>
   <th>Stop</th>
   <th>Route</th>
   <th>Direction</th>
   <th>Arival Time</th>
   <th>Arives in</th>
  </tr>
  {% for p in pred %}
  <tr>
    <td>{{p.stop.stop_title}}</td>
    <td>{{p.route.route_title}}</td>
    <td>{{p.direction}}</td>
    {% if p.arr_sec == None %}
    <td>No Busses</td>
    <td>No Busses</td>
    {% else %}
    <td>{{p.arr_time}}</td>
    <td>{{ p.arr_sec / 60 }}</td>
    {% endif %}
  </tr>
  {% empty %}
  <tr>
    <td>Nothing!</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
